.weatherBg {
    background: url("https://www.accuweather.com/images/hero/4/1440x450.jpg ");
    height: 50vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.heading {
    color: white;
}

.weatherResultBox {
    margin: auto;
    width: 500px;
    height: 300px;
    color: black;
}

.weathorIcon {
    width: 100px;
    height: 100px;
    margin-top: auto;
}

.weathorCity {
    font-size: 45px;
}

.weathorTemp {
    font-size: 65px;
    font-weight: 700;
}


/* i.pinimg.com/originals/77/0b/80/77Ob805d5c99c7931366c2e84e88f251.png */